<div class="imageSectionBorder">
	<img class="imageSection" src="<%= lunch_option.photo_url %>" width="100" height="100"/>
</div>

<div class="votingSection">
		<div class="voting" id="voting<%=lunch_option.id %>">
			<table>
				<tr>
					<td><span class="votesFor"><%= lunch_option.votes[0] %></span></td>
					<td><a href="javascript:lunchd.event.voteUp(<%= lunch_option.id %>, <%= current_user.id %>)"><img src="/images/thumbs_up.png" /></a></td>
				</tr>
				<tr>	
					<td><span class="votesAgainst">	<%= lunch_option.votes[1] %></span></td>
					<td><a href="javascript:lunchd.event.voteDown(<%= lunch_option.id %>, <%= current_user.id %>)"><img src="/images/thumbs_down.png" /></a></td>
				</tr>
				</table>	
		</div>
</div>

<div >
	<table>
		<tr>
			<td><%= link_to lunch_option.name, lunch_option.link %> </td>
			<td><img src=<%= lunch_option.rating_img_url_small %> alt=<%= lunch_option.avg_rating %> href=<%= lunch_option.link%>  vspace=5 /></td>
			<td>(<%= lunch_option.review_count%>)
		</tr>
	</table>
</div>
<div>
	<% if !lunch_option.address.blank? %>
		<%= lunch_option.address %> <br />
	<% end %>
	<!-- <%= lunch_option.city %>, <%= lunch_option.state %> <%= lunch_option.zip %> -->
</div>
<div>
	<!-- Phone: <%= number_to_phone(lunch_option.phone) %> -->
</div>
<div>
	Distance: <%= number_with_precision(lunch_option.distance, :precision => 1) %> mi
</div>
<div>
	<%= lunch_option.categories.map { |cat| cat.name }.join(', ') %>
</div>


