<%= image_tag lunch_option.photo_url %>

<div class="votingSection">
	<% if !lunch_option.has_voted(current_user) %>
		<div class="voting" id="voting<%=lunch_option.id %>">
			<a href="javascript:lunchd.event.voteUp(<%= lunch_option.id %>, <%= current_user.id %>)">Sounds Good!</a> <br />
			<a href="javascript:lunchd.event.voteDown(<%= lunch_option.id %>, <%= current_user.id %>)">No Way</a>
		</div>
	<% end %>
	<div>
		<span class="votesFor">+<%= lunch_option.votes[0] %></span>
		<span class="votesAgainst">-<%= lunch_option.votes[1] %></span>
		=
		<span class="total"><%= lunch_option.votes[0] - lunch_option.votes[1] %></span>
	</div>
</div>

<div>
	<table>
		<tr>
			<td><%= link_to lunch_option.name, lunch_option.link %> </td>
			<td><img src=<%= lunch_option.rating_img_url_small %> alt=<%= lunch_option.avg_rating %> href=<%= lunch_option.link%>  vspace=5 /></td>
		</tr>
	</table>
</div>
<div>
	<% if !lunch_option.address.blank? %>
		<%= lunch_option.address %> <br />
	<% end %>
	<%= lunch_option.city %>, <%= lunch_option.state %> <%= lunch_option.zip %>
</div>
<div>
	Phone: <%= number_to_phone(lunch_option.phone) %>
</div>
<div>
	Distance: <%= number_with_precision(lunch_option.distance, :precision => 1) %> mi
</div>
<div>
	Styles: <%= lunch_option.categories.map { |cat| cat.name }.join(', ') %>
</div>

