<div class="eventShow">
	<h1 class="eventName"><%= @event.name %></h1>
	<div class="description">
		Description: <%= @event.description %>
	</div>
	<div class="peopleGoing">
		People going: <%= @event.people_going.map{ |person| person.name }.join(', ')%>
	</div>
	<div class="rightSection">
		Send out invitations with this link: <br />
		<span class="url"><%= @event.share_url(request) %></span>
	</div>

	<div class="leftBody">
		<% @event.sorted_lunch_options.each do |option| %>
				<div class="lunchOptionListing" id="lunchOption<%= option.id %>">
					<%= render :partial => 'event_listing', :locals => { :lunch_option => option } %>
				</div>
		<% end %>
	</div>
</div>
