<div class="show">
	<h1><%= @event.name %></h1>
	<div>
		People going:
		<ul>
			<% @event.people_going.each do |user| %>
				<li><%= user.name %></li>
			<% end %>
		</ul>
	</div>
	<div>
		<div class="leftBody">
		<% @event.lunch_options.each_with_index do |option, index| %>
			<% if (index<5) %>
				<div class="lunchOptionListing" id="lunchOption<%= option.id %>">
					<%= render :partial => 'event_listing', :locals => { :lunch_option => option } %>
				</div>
			<% end %>
		<% end%>
		</div>
		<div class="rightBody">
		<% @event.lunch_options.each_with_index do |option, index| %>
			<% if ((index>5) && (index<=10)) %> 
				<div class="lunchOptionListing" id="lunchOption<%= option.id %>">
					<%= render :partial => 'event_listing', :locals => { :lunch_option => option } %>
				</div>
			<% end %>
		<% end %>
		</div>
	</div>		
</div>
